pre-commit install
dotenv

export DATABASE_USER=$(cat $DATABASE_USER_FILE)
export DATABASE_PASSWORD=$(cat $DATABASE_PASSWORD_FILE)
export DATABASE_URL=postgres://$DATABASE_USER:$DATABASE_PASSWORD@localhost:5432/postgres
